<!DOCTYPE html>
<head>
<title>Under Construction</title>
<link rel="icon" href="https://waifupaste.moe/raw/favicon.png">
<style>
        body {
            margin: 10px;
            background-image: url("https://waifupaste.moe/assets/imgs/texture.png");
        }
    </style>
</head>
<body>
<div class="container">
<div class="row">
<div class="page-header">
<h1>ワイフーペースト　ビータ</h1>
</div>
</div>
<div class="row">
<h3>This version of WaifuPaste is currently under construction!</h3> 
Check out the progess of the new WaifuPaste on <a href="https://github.com/AndroidKitKat/waifu-rack/"> GitHub!</a> Thank you!
</div>
<div class="row">
<img src="assets/owo.png">
</div>
</div>
</body>
