<p>This is the homepage for the <a title="Click to go to the PBUI project GitHub pag" href="https://github.com/pbui-project">PBUI-Project</a>:</p>
<ul>
  <li><strong>P</strong>OSIX-compliant</li>
  <li><strong>B</strong>SD/Linux</li>
  <li><strong>U</strong>serland</li>
  <li><strong>I</strong>mplementation</li>
</ul>
<p>This implementation will be written in <a title="Click to go to the Zig lang Homepage " href="https://ziglang.org">Ziglang</a>&nbsp;and is a project for the Notre Dame course <a title="Click to go to the OSSD Homepage" href="https://www3.nd.edu/~pbui/teaching/cse.40677.sp20/">Open Source Software Developmen</a>t taught by <a title="Click to go to Peter Bui's Homepage" href="https://www3.nd.edu/~pbui/">Peter Bui</a>.</p>
<p><strong>This website (and project) are still very early in development. Please check back later for more information. We will have a mailing list soon, too.&nbsp;</strong></p>
