<h2>Welcome to the PBUI-Project!</h2>
<p>The PBUI-Project is intended to be a version of common BSD/Linux core utilities written in <a title="Click to go to the Ziglang Website" href="https://ziglang.org">Zig</a>. This is a project for University of Notre Dame course <a title="Click to go to the OSSD webpage" href="https://www3.nd.edu/~pbui/teaching/cse.40677.sp20/">Open Source Software Development</a> taught by the one and only (and aptly named) <a title="Click to go to Peter Bui's homepage" href="https://www3.nd.edu/~pbui/">Peter Bui.</a></p>
<h3>What does PBUI stand for?</h3>
<p>Aside from being our fearless leader and advisor</a>, PBUI stands for:</p>

<%# <p>This is the homepage for the <a title="Click to go to the PBUI project GitHub pag" href="https://github.com/pbui-project">PBUI-Project</a>:</p> %>
<ul>
  <li><strong>P</strong>OSIX-compliant</li>
  <li><strong>B</strong>SD/Linux</li>
  <li><strong>U</strong>serland</li>
  <li><strong>I</strong>mplementation</li>
</ul>

<h3>But why?</h3>
<p>Originally, PBUI-Project was going to be in Rust or Golang, but as the team looked into more options, it was decided that userlands in both those languages were overdone. We wanted a fresh challenge, to blaze a trail never traveled before. We settled on Zig because it's a self-proclaimed C killer, and that really appealed to us.</p>

<h3>Okay, how's progress coming?</h3>
<p>When development was first started, there were a lot of problems we found with Zig. Namely, lack of clear documentation. <a title="Click to go to the Ziglang documentation" href="https://ziglang.org/documentation/master/">While documentation does exist</a>, clear and concise explanations were lacking. That's something we would like to address in this project. As applet production increases (<a title="Click to see our repository" href="https://github.com/pbui-project/pbui-main">You can view our progress here</a>), blog posts describing some of the troubles we've found will appear <a title="Click to go to the blog section" href="/posts">on our blog</a>.</p>

<h3>Cool! I want to get involved!</h3>
<p>Well, I'm glad you asked. The main repository for PBUI has a great list of <a title="Click here to see issues" href="https://github.com/pbui-project/pbui-main/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22">issues</a> waiting to be done. You can join us in chat on our IRC channel @ #pbui on Freenode, as that's where the majority of contribution talk happens.</p>

<h4>Happy coding!</h4>
<p>-- The PBUI team</p>
