<html>
<head>
  <title>PBUI Project</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
<style>
.footman {
  left: 0;
  bottom: 0;
  width: 100%
}
a {
  text-decoration: none;
  color: rgb(0, 122, 255)
}

html {
  background-color: rgb(217, 217, 217)
}

@media (prefers-color-scheme: light) {
  html {
  background-color: rgb(217, 217, 217)
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(36, 36, 36);
    color: rgb(213, 191, 177)
  }
  a {
  text-decoration: none;
  color: rgb(190, 128, 190)
}
}
</style>
</head> 
<body>
<h1 style="text-align: center;"><a title="Click to go to the PBUI project homepage" href="/">PBUI-PROJECT</a></h1>
<table style="border-collapse: collapse; width: 56.25%; height: 18px; margin-left: auto; margin-right: auto;" border="1">
  <tbody>
    <tr style="height: 18px;">
      <td style="width: 16.66666666666666%; height: 18px; text-align: center;"><a title="Click this to see the code for the PBUI project" href="https://github.com/pbui-project/pbui-main" >Code</a></td>
      <td style="width: 16.666666666666668%; height: 18px; text-align: center;"><a title="Click this to see who has committed to the PBUI project" href="https://github.com/pbui-project/pbui-main/graphs/contributors">Contributors</a></td>
      <td style="width: 16.666666666666668%; height: 18px; text-align: center;"><a title="Click this to contribute to the PBUI project" href="https://github.com/pbui-project/pbui-main/blob/master/CONTRIBUTING.md" >Contribute</a></td>
      <td style="width: 16.666666666666668%; height: 18px; text-align: center;"><a title="Click this to read our blog" href="posts">Blog</a></td>
      <td style="width: 16.666666666666668%; height: 18px; text-align: center;"><a title="Click to join IRC" href="https://kiwiirc.com/nextclient/chat.freenode.org/#pbui">IRC</a></td>
    </tr>
  </tbody>
</table>
<hr />
  <%= yield %>
  <div class="footman">
    <p>
    </p>
  <p style="text-align: center;">Copyright (c) 2020 The PBUI Project Team</p>
</div>
</body>
</html>
