<html>
<head>
  <title>PBUI Project</title>
<style>
.footman {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%
}
   body {
            margin: 10px;
            background-image: url("https://waifupaste.moe/assets/imgs/texture.png");
        }
</style>
</head> 
<body>
<h1 style="text-align: center;"><a title="Click to go to the PBUI project homepage" href="/">PBUI-PROJECT</a></h1>
<table style="border-collapse: collapse; width: 56.25%; height: 18px; margin-left: auto; margin-right: auto;" border="1">
  <tbody>
    <tr style="height: 18px;">
      <td style="width: 16.66666666666666%; height: 18px; text-align: center;"><a title="Click this to see the code for the PBUI project" href="https://github.com/pbui-project/pbui-main" >Code</a></td>
      <td style="width: 16.666666666666668%; height: 18px; text-align: center;"><a title="Click this to see who has committed to the PBUI project" href="https://github.com/pbui-project/pbui-main/graphs/contributors">Contributors</a></td>
      <td style="width: 16.666666666666668%; height: 18px; text-align: center;"><a title="Click this to contribute to the PBUI project" href="https://github.com/pbui-project/pbui-main/blob/master/CONTRIBUTING.md" >Contribute</a></td>
      <td style="width: 16.666666666666668%; height: 18px; text-align: center;"><a title="Click this to learn more about the PBUI project" href="about">About</a></td>
      <td style="width: 16.666666666666668%; height: 18px; text-align: center;"><a title="Click this to join our Gitter.im room" href="https://gitter.im/pbui-project/community?utm_source=share-link&amp;utm_medium=link&amp;utm_campaign=share-link">Gitter</a></td>
    </tr>
  </tbody>
</table>
<hr />
  <%= yield %>
<div class="footman">
  <p style="text-align: center;">Copyright (c) 2020 The PBUI Project Team</p>
</div>
</body>
</html>
