<!DOCTYPE html>
<head>
<title>waifu stats</title>
<link rel="icon" href="https://waifupaste.moe/raw/favicon.png">
<style>
        body {
            margin: 10px;
            background-image: url("https://waifupaste.moe/assets/imgs/texture.png");
        }
    </style>
</head>
<body>
  <pre>{ % sensors % }</pre>
  <pre>{ % hddtemp % }</pre>
  <pre>{ % free % }</pre>
</body>
